<app-page-header
[titulo]="titulo"
[icono]="icono"
></app-page-header>
<div class="container-fluid ">
    <div class="container-fluid form-neon">
        <form class="">
            <div class="container-fluid">
                <div class="row">
                    <legend class="px-3"><span class="float-left"><i class="far fa-plus-square"></i> &nbsp; Elige filtros para la consulta</span>
                    </legend>
                    <div class="col-12 col-md-6">
                        <div class="form-group bmd-form-group bmd-form-group-md">
                            <label for="inputSearch" class="">Codigo de Factura</label>
                            <input type="text" class="form-control" name="busqueda-" id="inputSearch" maxlength="30">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="form-group bmd-form-group bmd-form-group-md">
                            <label for="item_estado">Usuario</label>
                            <select class="form-control" name="item_estado" id="item_estado">
                                <option value="" selected="" disabled="">Seleccione una opción</option>
                                <option selected="" value="Habilitado">Habilitado</option>
                                <option value="Deshabilitado">Deshabilitado</option>
                            </select>
                        </div>
                    </div>
                    <legend class="px-3"><span class="float-left"><i class="far fa-plus-square"></i> &nbsp; Rango de fecha</span>
                    </legend>
                    <div class="col-12 col-md-6">
                        <div class="form-group bmd-form-group bmd-form-group-lg">
                            <label for="cliente_telefono" >Desde</label>
                            <input type="date" pattern="[0-9()+]{1,20}" class="form-control" name="cliente_telefono" id="cliente_telefono" maxlength="20">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group bmd-form-group bmd-form-group-lg">
                            <label for="cliente_telefono" >Hasta</label>
                            <input type="date" pattern="[0-9()+]{1,20}" class="form-control" name="cliente_telefono" id="cliente_telefono" maxlength="20">
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <br/>
        <div class="table-responsive px-2">
            <table class="table table-dark table-sm">
                <thead>
                    <tr class="text-center roboto-medium">
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                        <th>Usuario que registro la compra</th>
                        <th>Precio</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let venta of ventas; index as i">
                        <td>{{venta.id}}</td>
                        <td>{{venta.fecha | date:'dd/MM/yy'}}</td>
                        <td>{{venta.cliente.nombre}}</td>
                        <td>{{venta.usuario}}</td>
                        <td>{{venta.precioFactura}}</td>
                        <td>
                            <button [routerLink]="['/compras/compra',venta.id]" type="button" class="btn btn-warning">
                                <i class="far fa-eye"></i>
                            </button>
                        </td>
    
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                    <a class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
    