<div class="full-box page-header">
    <h3 class="text-left">
        <i class="fab fa-dashcube fa-fw"></i> &nbsp; Bienvenido al Sistema GetSales
    </h3>
</div>

<!-- Content -->
<div class="full-box tile-container">

    <a  class="tile" [routerLink]="['/clientes']"  >
        <div class="tile-tittle">Clientes</div>
        <div class="tile-icon">
            <i class="fas fa-users fa-fw"></i>
            <p>5 Registrados</p>
        </div>
    </a>

    <a  class="tile" [routerLink]="['/proveedores']">
        <div class="tile-tittle">Proveedores</div>
        <div class="tile-icon">
            <i class="fas fa-pallet fa-fw"></i>
            <p>9 Registrados</p>
        </div>
    </a>

    <a h class="tile" [routerLink]="['/ventas/listado']">
        <div class="tile-tittle">Ventas</div>
        <div class="tile-icon">
            <i class="fas fa-file-invoice-dollar fa-fw"></i>
            <p>10 Registrados</p>
        </div>
    </a>

    <a  class="tile" [routerLink]="['/compras/consultar']">
        <div class="tile-tittle">Compras</div>
        <div class="tile-icon">
            <i class="fas fa-user-secret fa-fw"></i>
            <p>50 Registrados</p>
        </div>
    </a>

    <a  class="tile" [routerLink]="['/usuarios']">
        <div class="tile-tittle">Usuarios</div>
        <div class="tile-icon">
            <i class="fas fa-store-alt fa-fw"></i>
            <p>1 Registrada</p>
        </div>
    </a>
    <a  class="tile" [routerLink]="['/productos']">
        <div class="tile-tittle">Productos(baterias)</div>
        <div class="tile-icon">
            <i class="fas fa-store-alt fa-fw"></i>
            <p>1 Registrada</p>
        </div>
    </a>
    
</div>