<!-- Main container -->
<main class="full-box main-container" *ngIf="usuario">
  <!-- Nav lateral -->
  <section class="full-box nav-lateral">
    <div class="full-box nav-lateral-bg show-nav-lateral"></div>
    <div class="full-box nav-lateral-content">
      <figure class="full-box nav-lateral-avatar">
        <i class="far fa-times-circle show-nav-lateral"></i>
        <img src="./assets/assets/avatar/Avatar.png" class="img-fluid" alt="Avatar">
        <figcaption class="roboto-medium text-center">

          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Nombre Usuario <br><small class="roboto-condensed-light">Rol de Usuario</small>

 
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Panel de Usuario</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button">Salir</button>
          </div>
        </figcaption>
      </figure>
      <div class="full-box nav-lateral-bar"></div>
      <nav class="full-box nav-lateral-menu">
        <ul>
          <li>
            <a><i class="fab fa-dashcube fa-fw"></i> &nbsp; Principal</a>
          </li>

          <li>
            <a class="nav-btn-submenu"><i class="fas fa-users fa-fw"></i> &nbsp; Administración <i
                class="fas fa-chevron-down"></i></a>
            <ul>
              <li>
                <a [routerLink]="['/administracion/usuarios']"><i class="fas fa-plus fa-fw"></i> &nbsp; Usuarios</a>
              </li>
              <li>
                <a [routerLink]="['/administracion/reportes']"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Reportes</a>
              </li>
              <li>
                <a [routerLink]="['/administracion/bitacora']"><i class="fas fa-search fa-fw"></i> &nbsp; Bitacora</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="nav-btn-submenu"><i class="fas fa-users fa-fw"></i> &nbsp; Clientes <i
                class="fas fa-chevron-down"></i></a>
            <ul>
              <li>
                <a [routerLink]="['/clientes/agregar']"><i class="fas fa-plus fa-fw"></i> &nbsp; Agregar Cliente</a>
              </li>
              <li>
                <a [routerLink]="['/clientes/listado']"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de clientes</a>
              </li>
              <li>
                <a [routerLink]="['/clientes/busqueda']"><i class="fas fa-search fa-fw"></i> &nbsp; Buscar cliente</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="nav-btn-submenu"><i class="fas fa-pallet fa-fw"></i> &nbsp; Productos <i
                class="fas fa-chevron-down"></i></a>
            <ul>
              <li>
                <a><i class="fas fa-plus fa-fw"></i> &nbsp; Agregar Producto</a>
              </li>
              <li>
                <a><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de Productos</a>
              </li>
              <li>
                <a><i class="fas fa-search fa-fw"></i> &nbsp; Buscar Producto</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="nav-btn-submenu"><i class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp; Ventas<i
                class="fas fa-chevron-down"></i></a>
            <ul>
              <li>
                <a><i class="fas fa-plus fa-fw"></i> &nbsp; Registrar venta</a>
              </li>
              <li>
                <a><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de Ventas</a>
              </li>
              <li>
                <a><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar Venta</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="nav-btn-submenu"><i class="fas  fa-user-secret fa-fw"></i> &nbsp; Compras <i
                class="fas fa-chevron-down"></i></a>
            <ul>
              <li>
                <a><i class="fas fa-plus fa-fw"></i> &nbsp; Nuevo Compra</a>
              </li>
              <li>
                <a><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de Compras</a>
              </li>
              <li>
                <a><i class="fas fa-search fa-fw"></i> &nbsp; Buscar Compra</a>
              </li>
            </ul>
          </li>


        </ul>
      </nav>
    </div>
  </section>

  <!-- Page content -->
  <section class="full-box page-content ">
    <nav class="full-box navbar-info" >
      <a (click)="toggleMenu()" href="#" class="float-left show-nav-lateral flex-center " id="show-nav-lateral">
        <i class="fas fa-2x" [ngClass]="{'fa-bars':hamburguer,'fa-arrow-left':!hamburguer}"></i> 
      </a>

      
        <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="./assets/assets/avatar/Avatar.png" alt="nombreUser" class="rounded-circle" height="40"> Nombre de
          Usuario
        </a>
      
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <button class="dropdown-item" type="button">Panel de Usuario</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button">Salir</button>
        </div>
     
    </nav>
    
      <router-outlet></router-outlet>
  
  </section>
</main>
<router-outlet *ngIf="!usuario"></router-outlet>