<!-- FILTRO DE USUARIOS<app-page-header
[titulo]="titulo"
[icono]="icono"
></app-page-header>
<div class="container-fluid">
   
<form class="form-neon" #formsearch="ngForm">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="busqueda" placeholder="Nombre de Usuario" aria-label="Nombre de Usuario" class="">Nombre De usuario</label>
                        <input type="text" [(ngModel)]="busqueda" class="form-control" name="busqueda" id="busqueda" required>
                    </div>
                </div>
                <div class="col-12">
                    <p class="text-center" >
                        <button [disabled]="busqueda.length == 0" (click)="buscar()" type="submit" class="btn btn-raised btn-info"><i class="fas fa-search"></i> &nbsp;
                            Buscar</button>
                    </p>
                </div>
           </div>
        </div>
</form>  



<br>

<button class="btn btn-raised btn-info" [routerLink]="['/usuarios/agregar']" class="btn btn-success"><i class="fas fa-search"></i> &nbsp; Agregar Usuario</button>
 
         
    <div class="table-responsive">
        <table class="table table-dark table-sm" >
            <thead>
                <tr class="text-center roboto-medium">
                    <th>Rol</th>
                    <th>Nombre de Usuario</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let usuario of usuarios; let indice=index ">
                    <td>{{ usuario.rol_id }}</td>
                    <th>{{usuario.username}}</th>
                    <th>{{usuario.nombre}}</th>
                    <th>{{usuario.email}}</th>
                    <td>
                       <a class="btn btn-success">
                            <i [routerLink]="['/usuarios/usuario/',usuario.id ]"   class="fas fa-sync-alt"></i>
                        </a>
                         <button type="button" class="btn btn-warning" (click)="delete(indice)" >
                            <i class="far fa-trash-alt"></i>
                        </button> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



    <nav aria-label="Page navigation example" *ngIf="!busqueda">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a (click)="previus()" class="page-link">Previous</a>
            </li>
            <li>
                <a (click)="next()" class="page-link">Next</a>
            </li>
        </ul>
    </nav>
</div>

 !-->








<div class="modal fade bd-example-modal-lg " id="modarAgregar" tabindex="-1" role="document" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
                <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
              <app-agregar-usuario></app-agregar-usuario>
          
        </div>
      </div>
</div>

<div class="modal fade bd-example-modal-lg " id="modalActualizar" tabindex="-1" role="document" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Usuario: {{usuario.nombre}}</h5>
                <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
              <app-actualizar-usuario
              [usuario]="usuario"
              ></app-actualizar-usuario>
              
              <br>

          
        </div>
      </div>
</div>
<div class="container-fluid ">
    <div class="container-fluid form-neon">
        <button type="button" class="btn btn-raised btn-primary mb-3" data-toggle="modal" data-target="#modarAgregar"> <i class="fa fa-plus"></i>&nbsp; Agregar Usuario </button>
        <div class="row d-flex justify-content-end">
            <div class="col-12 col-md-5 col-lg-4">
               <div class="form-group bmd-form-group bmd-form-group-lg">
                <input type="search" name="buscar" id="buscar" placeholder="Buscar usuario" class="form-control">
               </div>
            </div>

    </div>
        <div class="table-responsive">
            <form>
        </form>
        <table class="table table-dark table-md">
            <thead>
                <tr class="text-center roboto-medium">
                    <th>Rol</th>
                    <th>Nombre de Usuario</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let usuario of usuarios; let indice=index ">
                    <td>{{ usuario.rol_id }}</td>
                    <th>{{usuario.username}}</th>
                    <th>{{usuario.nombre}}</th>
                    <th>{{usuario.rol_id}}</th>
                    <th>{{usuario.email}}</th>
                    <td>
                        <a class="btn btn-success" data-toggle="modal" data-target="#modalActualizar" (click)="setUsuario(usuario)">
                            <i class="fas fa-sync-alt"></i>
                        </a> 
<!-- 
                        <a [routerLink]="['/usuarios/usuario', 1]" class="btn btn-success"><i class="fas fa-eye"></i></a> -->

                            <button type="button" class="btn btn-warning" (click)="delete(indice)" >
                            <i class="far fa-trash-alt"></i>
                        </button> 
                            
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    </div>
</div>