<div class="relative mt-20 p-4">

    <div class="w-full flex justify-start mb-6">
        <h3 class="text-3xl font-bold">Consultar Compras</h3>
    </div>
    <div class="rounded w-full bg-white mt-4 p-4">
        <div class="w-full  flex justify-between py-2 px-2 mb-6">
            <h3 class="text-2xl">Listado de Compras</h3>
        </div>
        <div class="w-full flex justify-end align-middle mb-6 text-sm">
            <form class="w-full md:w-3/4 lg:w-3/5 grid grid-cols-12 gap-1" [formGroup]="formBusqueda" (ngSubmit)="busqueda()">
                <input type="text" class="appearance-none bg-gray-200 border border-gray-200 text-gray-700 box-border p-2 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 col-span-9" name="usuario" id="usuario" placeholder="Ingrese rif de proveedor"
                formControlName="valorParametro"
                >
                <button type="submit" class="px-3 py-1 bg-red-500 rounded text-white cursor-pointer hover:shadow-lg transition duration-700 ease-linear col-span-3">Buscar</button>
            </form>
        </div>
        <div class="w-full mb-6">
            <table class="table-auto shadow-lg bg-white w-full text-xs text-center">
                <thead class="bg-blue-900 text-white">
                    <tr>
                        <th
                            class="align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            #
                        </th>
                        <th
                            class="align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            Fecha
                        </th>
                        <th
                            class="align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            Proveedor
                        </th>
                        <th
                            class="align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            Usuario
                        </th>
                        <th
                            class="align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            Total
                        </th>
                        <th
                            class="align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="compras.length === 0" >
                        <td colspan="6" class="border-t-0 align-middle border-l-0 border-r-0 p-2 text-center">No hay Compras registradas</td>
                    </tr>
                    <tr *ngFor="let compra of compras">
                        <th class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            {{compra.id}}
                        </th>
                        <td class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            {{compra.fecha | amLocale:'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}
                        </td>
                        <td class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            {{compra.proveedor.nombre}}
                        </td>
                        <td class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            {{compra.usuario.username}}
                        </td>
                        <td class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            {{compra.total | currency}} <br> {{ compra.total * precioDolar | currency:'Bs.S '}}
                        </td>
                        <td class="flex items-center justify-center border-t-0 align-middle border-l-0 border-r-0 p-2">
                            <button class="mr-2"
                                [routerLink]="['/main/compra',compra.id]" routerLinkActive="router-link-active" 
                            ><i class="fas fa-eye text-gray-700 fa-lg"></i></button>
                            
                            <button class=""><i class="fas fa-trash text-gray-700 fa-lg"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full flex justify-center mt-4 text-sm" *ngIf="totalPages > 1">
            <button
                class="px-4 py-2 bg-blue-900 rounded text-white cursor-pointer hover:shadow-lg transition duration-500 ease-linear mr-4" *ngIf="page !== 1" (click)="paginaAnterior()">Anterior</button>
            <button
                class="px-4 py-2 bg-blue-900 rounded text-white cursor-pointer hover:shadow-lg transition duration-500 ease-linear" *ngIf="page !== totalPages" (click)="paginaSiguiente()">Siguiente</button>
        </div>
    </div>
</div>