

<div class="modal fade bd-example-modal-lg " id="modarAgregar" tabindex="-1" role="document" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title mb-3" id="exampleModalLabel">Agregar Proveedor</h3>
                <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
              <app-agregar-proveedor></app-agregar-proveedor>
          
        </div>
      </div>
</div>

<div class="modal fade bd-example-modal-lg " id="modalActualizar" tabindex="-1" role="document" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title mb-3" id="exampleModalLabel">Actualizar Proveedor: {{proveedor.nombre}}</h3>
                <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
              <app-actualizar-proveedor
              [proveedor]="proveedor"
              ></app-actualizar-proveedor>
          
        </div>
      </div>
</div>
<div class="container-fluid ">
    <div class="container-fluid form-neon">
        <button type="button" class="btn btn-raised btn-primary mb-3" data-toggle="modal" data-target="#modarAgregar"> <i class="fa fa-plus"></i>&nbsp; Agregar Proveedor </button>
    <div class="table-responsive">
        <form>
            <div class="row d-flex justify-content-end">
                <div class="col-12 col-md-5 col-lg-4">
                   <div class="form-group bmd-form-group bmd-form-group-lg">
                    <input type="search" name="buscar" id="buscar" placeholder="Buscar proveedor" class="form-control">
                   </div>
                </div>
            </div>
        </form>
        <table class="table table-dark table-md">
            <thead>
                <tr class="text-center roboto-medium">
                    <th>Rif</th>
                    <th>Nombre</th>
                    <th>Accion</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let proveedor of proveedores">
                    <td> {{proveedor.rif}} </td>
                    <td>{{proveedor.nombre}}</td>
                    <td>
                        <a class="btn btn-success" data-toggle="modal" data-target="#modalActualizar" (click)="setProveedor(proveedor)">
                            <i class="fas fa-sync-alt"></i>
                        </a> 
                        <a [routerLink]="['/clientes/cliente', 1]" class="btn btn-success">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    </div>
</div>