<div class="modal fade bd-example-modal-lg " id="modarAgregar" tabindex="-1" role="document" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title mb-3 text-center"  id="exampleModalLabel">Agregar Cliente</h3>
                <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
              <app-agregar-cliente></app-agregar-cliente>
          
        </div>
      </div>
</div>

<div class="modal fade bd-example-modal-lg " id="modalActualizar" tabindex="-1" role="document" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title mb-3 text-center" id="exampleModalLabel">Actualizar Cliente: </h3>
                <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
              <app-actualizar-cliente
              [cliente]="cliente"
              [clientes]="clientes"
              ></app-actualizar-cliente>
          
        </div>
      </div>
</div>
<div class="container-fluid ">
    <div class="container-fluid form-neon">
        <button type="button" class="btn btn-raised btn-primary mb-3" data-toggle="modal" data-target="#modarAgregar"> <i class="fa fa-plus"></i>&nbsp; Nuevo Cliente </button>
        <form>
            <div class="row d-flex justify-content-end">
                <div class="col-12 col-md-5 col-lg-4">
                   <div class="form-group bmd-form-group bmd-form-group-lg">
                    <input type="search" name="buscar" id="buscar" placeholder="Buscar cliente" class="form-control">
                   </div>
                </div>
            </div>
        </form>
    <div class="table-responsive">
        
        <table class="table table-dark table-md">
            <thead>
                <tr class="text-center roboto-medium">
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let cliente of clientes">
                    <td>  {{cliente.cedula}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.fecha_nacimiento}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>
                        <a class="btn btn-success" data-toggle="modal" data-target="#modalActualizar" (click)="agregarCliente(cliente)">
                            <i class="fas fa-sync-alt"></i>
                        </a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    </div>
</div>