<!-- Navbar -->
<nav
  class="absolute fixed top-0 left-0 w-full z-10 hidden  lg:flex-row lg:flex-no-wrap lg:justify-between lg:flex items-center p-1"
>
  <div
    class="w-full mx-aut0 items-center flex justify-end md:flex-no-wrap flex-wrap px-2"
  >
   
    <ul
      class="flex-col md:flex-row list-none items-center hidden md:flex"
    >
    <!-- <li class="h-12 cursor-pointer flex items-center mr-2 rounded-full">
      <img src="/assets/img/agregar-usuario.png" alt="agregar-cliente" class="h-10" title="Agregar cliente">
    </li> -->
    <li class="h-12 cursor-pointer flex items-center mr-2 rounded-full" [routerLink]="['/main/registrar-venta']">
      <img src="/assets/img/carro.png" alt="agregar-venta" class=" h-10" title="Agregar venta">
    </li>
      <app-user-dropdown></app-user-dropdown>
    </ul>
  </div>
</nav>
