<button
class="px-4 py-2 bg-red-500 text-sm rounded text-white cursor-pointer hover:shadow-lg transition duration-700 ease-linear"
type="button"
(click)="toggleModal()"
>
Agregar Usuario
</button>
<div 
*ngIf="showModal"
class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center flex"
>
<div class="relative w-auto my-6 mx-auto w-11/12 md:w-5/6 lg:w-1/2">
  <!--content-->
  <div
    class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
  >
    <!--header-->
    <div
      class="flex items-start justify-between py-6 p-6 border-b border-solid border-gray-300 rounded"
    >
      <h3 class="text-2xl font-semibold">
       Agrega un Usuario
      </h3>
      <button
        class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
        (click)="toggleModal()"
      >
        <span
          class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
        >
          ×
        </span>
      </button>
    </div>
    <!--body-->
    <div class="relative p-6 flex-auto">
        <div class="w-full pb-6 pt-2">
          <h3 class="text-xl font-bold">Informacion de Cliente</h3>
        </div>
        <div class="w-full" *ngIf="alerta">
          <app-alert [mensaje]="mensaje" [color]="color" (cerrar)="cerrarAlerta()"></app-alert>
        </div>
      <form class="my-4 text-gray-600 text-sm" [formGroup]="formUsuario" (ngSubmit)="enviar()" autocomplete="off" >
          <div class="w-full grid grid-cols-2 lg:grid-cols-6 gap-2">
              <div class="col-span-2 md:col-span-1 lg:col-span-2">
                  <label for="username" class="text-gray-800 mb-2 font-bold">Nombre de Usuario</label>
                  <input type="text" class="w-full block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 box-border p-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mb-4" name="username" id="username" placeholder="ej. usuario1"
                    formControlName="username" 
                  >
          
              </div>
              <div class="col-span-2 md:col-span-1 lg:col-span-4">
                  <label for="nombre" class=" text-gray-800 mb-2 font-bold">Nombres Y Apellidos</label>
                  <input type="text" class="w-full block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 box-border p-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mb-4" name="nombre" id="nombre" placeholder="ej. Juanito Perez"
                    formControlName="nombre" 
                  >

              </div>
              <div class="col-span-2 md:col-span-1 lg:col-span-2">
                  <label for="correo" class="text-gray-800 mb-2 font-bold">Correo</label>
                  <input type="text" class="w-full block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 box-border p-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mb-4" name="correo" id="correo" placeholder="ej. correo@correo.com"
                    formControlName="email" 
                  >

              </div>
              <div class="col-span-2 md:col-span-1 lg:col-span-2">
                  <label for="rol" class="text-gray-800 mb-2 font-bold">Rol</label>
                  <select name="rol" id="rol" class="w-full block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 box-border p-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mb-4"
                    formControlName="rol_id" 
                  >
                    <option value="">-- selecciona --</option>
                    <option *ngFor="let rol of roles" value="{{rol.id}}">{{rol.rol}}</option>
                  </select>

              </div>
              <div class="col-span-2 md:col-span-1 lg:col-span-2">
                <label for="password" class="text-gray-800 mb-2 font-bold">Contraseña</label>
                <input type="password" class="w-full block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 box-border p-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mb-4" name="password" id="password" placeholder="ingrese su contraseña"
                  formControlName="password" 
                >
            </div>
            <div class="col-span-2 lg:col-span-6" *ngIf="error">
              <error-form [mensaje]="error"></error-form>
            </div>
              <div class="col-span-2 lg:col-span-6">
                  <button type="submit" class="px-4 py-2 bg-red-500 text-lg rounded text-white cursor-pointer hover:shadow-lg transition duration-700 ease-linear block mx-auto">Registrar</button>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
<div
*ngIf="showModal"
class="opacity-25 fixed inset-0 z-40 bg-black"
></div>