<app-page-header
[titulo]="titulo"
[icono]="icono"
></app-page-header>

<div class="container-fluid">
    <form class="form-neon">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12"><legend><i class="far fa-address-card"></i> &nbsp; Seleccione un rango</legend></div>
                <div class="col-12 col-md-6">
                    <div class="form-group bmd-form-group bmd-form-group-lg">
                        <label for="desdeFecha" class="">Desde</label>
                        <input type="date" name="desdeFecha" id="desdeFecha" class="form-control">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group bmd-form-group bmd-form-group-lg">
                        <label for="hastaFecha" class="">Hasta</label>
                        <input type="date" name="hastaFecha" id="hastaFecha" class="form-control">
                    </div>
                </div>

                <div class="col-12">
                    <p class="text-center">
                        <button class="btn btn-raised btn-danger btn-lg" type="button">Generar</button>
                    </p>
                </div>

            </div>
        </div>
    </form>



    <form action="">
        <input type="hidden" name="eliminar-busqueda" value="eliminar">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-6">
                    <p class="text-center" style="font-size: 20px;">
                       {{ mensaje || "Ultimos registros del sistema" }}
                    </p>
                </div>
            </div>
        </div>
    </form>




    <div class="table-responsive">
        <table class="table table-dark table-sm">
            <thead>
                <tr class="text-center roboto-medium">
                    <th>#</th>
                    <th>DNI</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>TELÉFONO</th>
                    <th>USUARIO</th>
                    <th>EMAIL</th>
                    <th>ACTUALIZAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>1</td>
                    <th>03045643</th>
                    <th>NOMBRE DE USUARIO</th>
                    <th>APELLIDO DE USUARIO</th>
                    <th>2345456</th>
                    <th>NOMBRE DE USUARIO</th>
                    <th>ADMIN@ADMIN.COM</th>
                    <td>
                        <a href="user-update.html" class="btn btn-success">
                            <i class="fas fa-sync-alt"></i>
                        </a>
                    </td>
                    <td>
                        <form action="">
                            <button type="button" class="btn btn-warning">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>