<button
class="px-4 py-2 bg-red-500 text-sm rounded text-white cursor-pointer hover:shadow-lg transition duration-700 ease-linear"
type="button"
(click)="toggleModal()"
>
Agregar Producto
</button>
<div
*ngIf="showModal"
class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center flex"
>
<div class="relative w-auto my-6 mx-auto w-11/12 md:w-5/6 lg:w-1/2">
  <!--content-->
  <div
    class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
  >
    <!--header-->
    <div
      class="flex items-start justify-between py-6 p-6 border-b border-solid border-gray-300 rounded"
    >
      <h3 class="text-2xl font-semibold">
       Agrega un Producto
      </h3>
      <button
        class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
        (click)="toggleModal()"
      >
        <span
          class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
        >
          ×
        </span>
      </button>
    </div>
    <!--body-->
    <div class="relative p-6 flex-auto">
        <div class="w-full pb-6 pt-2">
          <h3 class="text-xl font-bold">Informacion de Producto</h3>
        </div>
      <form class="my-4 text-gray-600 text-sm">
          <div class="w-full grid grid-cols-4 lg:grid-cols-6 gap-2">
              <div class="col-span-4 md:col-span-2 lg:col-span-3">
                  <label for="codigo" class=" text-gray-800 mb-2 font-bold">Codigo</label>
                  <input type="text" class="w-full block appearance-none bg-gray-200 border border-gray-200 text-gray-700  box-border p-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mb-4" name="codigo" id="codigo" placeholder="ej. B001">
                  <span class="block w-full mb-2 mt-1 p-2 border border-red-600 border-l-4 rounded bg-red-100 text-xs text-gray-800" *ngIf="false">
                    Este campo es obligatorio
                  </span>
              </div>
              <div class="col-span-4 md:col-span-2 lg:col-span-3">
                  <label for="marca" class=" text-gray-800 mb-2 font-bold">Marca</label>
                  <select name="marca" id="marca" class="w-full block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 box-border p-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mb-4">
                    <option value="">-- Seleccione --</option>
                  </select>
                  <span class="block w-full mb-2 mt-1 p-2 border border-red-600 border-l-4 rounded bg-red-100 text-xs text-gray-800" *ngIf="false">
                    Este campo es obligatorio
                  </span>
              </div>
              <div class="col-span-4 md:col-span-2 lg:col-span-3">
                  <label for="amperaje" class=" text-gray-800 mb-2 font-bold">Amperaje</label>
                  <select name="amperaje" id="amperaje" class="w-full block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 box-border p-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mb-4">
                    <option value="">-- Seleccione --</option>
                  </select>
                  <span class="block w-full mb-2 mt-1 p-2 border border-red-600 border-l-4 rounded bg-red-100 text-xs text-gray-800" *ngIf="false">
                    Este campo es obligatorio
                  </span>
              </div>
              <div class="col-span-4 md:col-span-2 lg:col-span-3">
                  <label for="grupo" class="text-gray-800 mb-2 font-bold">Grupo</label>
                  <select name="grupo" id="grupo" class="w-full block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 box-border p-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 mb-4">
                    <option value="">-- Seleccione --</option>
                  </select>
                  <span class="block w-full mb-2 mt-1 p-2 border border-red-600 border-l-4 rounded bg-red-100 text-xs text-gray-800" *ngIf="false">
                    Este campo es obligatorio
                  </span>
              </div>
              
              <div class="col-span-4 lg:col-span-6">
                  <button type="submit" class="px-3 py-2 bg-red-500 rounded text-white cursor-pointer hover:shadow-lg transition duration-700 ease-linear mx-auto block">Registrar</button>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
<div
*ngIf="showModal"
class="opacity-25 fixed inset-0 z-40 bg-black"
></div>