<div class="relative mt-20 p-4">
    <div class="w-full flex justify-start mb-8">
        <h3 class="text-3xl font-bold">Listado de clientes</h3>
    </div>
    <div class="w-full flex justify-start mb-4">
        <agregar-cliente></agregar-cliente>
    </div>

    <div class="bg-white w-full rounded shadow-lg py-4 px-1 ">
        <div class="w-full flex justify-end align-middle mb-4 text-sm">
            <form class="w-full md:w-3/4 lg:w-1/2 grid grid-cols-6 gap-1">
                <select name="amperaje" id="amperaje" class="appearance-none bg-gray-200 border border-gray-200 text-gray-700 box-border p-2 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 col-span-2">
                    <option value="cedula">Cedula</option>
                    <option value="nombre">Nombre</option>
                  </select>
                <input type="text" class="appearance-none bg-gray-200 border border-gray-200 text-gray-700 box-border p-2 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 col-span-3" name="usuario" id="usuario" placeholder="Ingrese su busqueda">
                <button type="submit" class="px-3 py-1 bg-red-500 rounded text-white cursor-pointer hover:shadow-lg transition duration-700 ease-linear col-span-1">Buscar</button>
            </form>
        </div>
        <div class="overflow-y-auto w-full text-xs text-center">
             <table class="table-auto shadow-lg bg-white w-full">
                <thead>
                    <tr>
                        <th
                            class="bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            Cedula
                        </th>
                        <th
                            class="bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            Nombre
                        </th>
                        <th
                            class="bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            Fecha de Nacimiento
                        </th>
                        <th
                            class="bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            Telefono
                        </th>
                        <th
                            class="bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                            Correo
                        </th>
                        <th
                            class="bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-2  uppercase border-l-0 border-r-0 font-semibold">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th
                            class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            26136504
                        </th>
                        <td class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            Luis Melendez
                        </td>
                        <td class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            27/02/1998
                        </td>
                        <td class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            04262892969
                        </td>
                        <td class="border-t-0 align-middle border-l-0 border-r-0 p-2">
                            melendez12341@gmail.com
                        </td>
                        <td
                            class="flex items-center justify-center border-t-0 align-middle border-l-0 border-r-0 p-2">
                            <ver-cliente></ver-cliente>
                            <modificar-cliente></modificar-cliente>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div class="w-full flex justify-center mt-4 text-sm">
            <button
                class="px-4 py-2 bg-blue-900 rounded text-white cursor-pointer hover:shadow-lg transition duration-500 ease-linear mr-4">Anterior</button>
            <button
                class="px-4 py-2 bg-blue-900 rounded text-white cursor-pointer hover:shadow-lg transition duration-500 ease-linear ">Siguiente</button>
        </div>
    </div>
</div>