  <!-- Header -->
  <div class="pt-20 pb-6">
    <div class="px-4 mx-auto w-full">
      <div>
        <h3 class="text-2xl lg:text-3xl text-center">Bienvenido al sistema</h3>        
      </div>
    </div>
  </div>
  <div class="px-8 mx-auto w-full rounded">
    <div class="w-full py-3 bg-white shadow-lg">
      <h3 class="text-3xl text-center">Tus ultimas acciones</h3>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full mb-8">
        <div class="flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
          <div class="block w-full overflow-x-auto">
            <!-- Projects table -->
            <table class="items-center w-full bg-transparent border-collapse text-center text-sm">
              <thead class="bg-blue-900 text-white">
                <tr>
                  <th class="px-6 align-middle border border-solid py-3 uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold">
                    Acción
                  </th>
                  <th class="px-6 align-middle border border-solid py-3 uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold">
                    Fecha
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let operacion of operaciones">
                  <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-no-wrap p-4">
                    {{operacion.mensaje}}
                  </th>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 whitespace-no-wrap p-4">
                    {{operacion.fecha | amLocale: 'es' | amTimeAgo}}
                  </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    
  </div>

