<div class="container-fluid">
    <form class="form-neon" >
        <fieldset>
            <legend><i class="far fa-plus-square"></i> &nbsp; Información del Producto</legend>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group bmd-form-group bmd-form-group-md">
                            <label for="item_codigo">Nombre</label>
                            <input type="text" pattern="[a-zA-Z0-9-]{1,45}" class="form-control" name="item_codigo" id="item_codigo" maxlength="45">
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-6">
                        <div class="form-group bmd-form-group bmd-form-group-md">
                            <label for="item_estado">Marca</label>
                            <select class="form-control" name="item_estado" id="item_estado">
                                <option value="" selected="" disabled="">Seleccione una opción</option>
                                <option selected="" value="Habilitado">Habilitado</option>
                                <option value="Deshabilitado">Deshabilitado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group bmd-form-group bmd-form-group-md">
                            <label for="item_estado">Grupo</label>
                            <select class="form-control" name="item_estado" id="item_estado">
                                <option value="" selected="" disabled="">Seleccione una opción</option>
                                <option selected="" value="Habilitado">Habilitado</option>
                                <option value="Deshabilitado">Deshabilitado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group bmd-form-group bmd-form-group-md">
                            <label for="item_estado">Amperaje</label>
                            <select class="form-control" name="item_estado" id="item_estado">
                                <option value="" selected="" disabled="">Seleccione una opción</option>
                                <option selected="" value="Habilitado">Habilitado</option>
                                <option value="Deshabilitado">Deshabilitado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group bmd-form-group bmd-form-group-md">
                            <label for="item_detalle">Foto</label>
                            <input type="file" class="form-control" name="item_detalle" id="item_detalle" maxlength="190">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <br><br><br>
        <p class="text-center" style="margin-top: 40px;">
            <button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
            &nbsp; &nbsp;
            <button type="submit" class="btn btn-raised btn-info btn-sm"><i class="far fa-save"></i> &nbsp; GUARDAR</button>
        </p>
    </form>
</div>